
.normal {
	width: 100%;
  	height: 100%;
  	// background-color: white;
}
.center {
	// display: -webkit-flex;/* Safari */
	display: flex;
	-webkit-justify-content: center;/* Safari */
	justify-content: center;
	-webkit-align-items: center;/* Safari */
	align-items: center;
	width: 100%;
  	height: 100%;
}

.winContainer {
	width: 640px;
	height: 380px;
	position: absolute;
	// border-radius:3px;
	top:50%;
	left:50%;
	margin: -190px 0 0 -320px;
	box-shadow: 0 0 20px rgba(100, 80, 60, 0.26);
	// display: -webkit-flex;/* Safari */
	display: flex;
	-webkit-flex-wrap: wrap;/* Safari */
	flex-wrap: wrap;
	-webkit-flex-direction: row;/* Safari */
	flex-direction: row;
	-webkit-justify-content: center;/* Safari */
	justify-content: center;
	overflow: hidden;
	// background-color: white;
}

.login2 {
  width: 320px;
  height: 380px;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // margin: auto;
}
.login3 {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // margin: auto;
}
.left1 {
	// position: static;
	// box-shadow: 0 0 20px rgba(100, 80, 20, 0.12);
	width: 260px;
    height: 380px;
    overflow: visible;
    background-color: #F77D55;
 //    display: flex;
 //    -webkit-flex-direction: column;
	// flex-direction: column;
	// flex-wrap: wrap;
 //    -webkit-justify-content: center; 
	// justify-content: center;
	// -webkit-align-items: center;/* Safari */
	// align-items: center;
	// -webkit-align-items: space-between; /* Safari */
 //  align-items: space-between;
}
.right1 {
	// position: static;
	// display: -webkit-flex;/* Safari */
	display: flex;
	-webkit-flex-direction: column;/* Safari */
	flex-direction: column;
	// padding-top: 30px;
	// padding-left: 35px;
	// padding-right: 35px;
	width: 380px;
    height: 380px;
    background-color: white;
}
.bg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.row{
	// display: -webkit-flex;/* Safari */
	display: flex;
	-webkit-flex-direction: row;/* Safari */
	flex-direction: row;
	align-items: center;
}
.middle{
	// display: -webkit-flex;/* Safari */
	display: flex;
	-webkit-flex-direction: row;/* Safari */
	flex-direction: row;
	-webkit-justify-content: center;/* Safari */
	justify-content: center;
}

#mouseRange {
	position: static;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.bearTalk {

}

