.row{
	// display: -webkit-flex;/* Safari */
	display: flex;
	-webkit-flex-direction: row;/* Safari */
	flex-direction: row;
	width: 380px;
	height: 120px;
}

.bearSit {
	position:relative;
	display:inline-block;
	left:66px;
	top:28px;
	width: 80px;
	height: 80px;
}

.boboSit {
	position:relative;
	display:inline-block;
	left:76px;
	top:40px;
	width: 180px;
	height: 50px;
}